*
!*/
!/.github/**
!/.gitignore
!/**/.gitkeep
!/.idea/**
!/composer.json
!/composer.lock
!/docker-compose.yaml
!/Makefile
!/php.ini
!/web/modules/custom/**
!/web/sites/default/settings.php
!/web/sites/default/settings.symfony.php
/.idea/workspace.xml
/vendor/
