<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./web/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="https://localhost:8000"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost//tmp/test.sqlite"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value=""/>
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
    <env name="MINK_DRIVER_CLASS" value=''/>
    <env name="MINK_DRIVER_ARGS" value=''/>
    <env name="MINK_DRIVER_ARGS_PHANTOMJS" value=''/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value=''/>
  </php>
  <testsuites>
    <testsuite name="functional">
      <directory>./web/modules/custom/**/tests/**/Functional</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>./web/modules/custom/**/tests/**/Kernel</directory>
    </testsuite>
    <testsuite name="unit">
      <directory>./web/modules/custom/**/tests/**/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
